language: ruby

addons:
  apt:
    packages:
    - libcurl4-openssl-dev # required to avoid SSL errors

rvm:
  - 2.6.2

branches:
  only:
    - release
    - master

install:
  - gem install bundler
  - bundle check || bundle install

script:
  - echo "Testing and Building"
  - bundle exec rake test
  - bundle exec jekyll build
  #- if [ $TRAVIS_EVENT_TYPE == "push" && $TRAVIS_BRANCH == "release"]; then  bundle exec jekyll algolia ;fi

deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: $FIREBASE_TOKEN
  on:
    branch: release

after_deploy:
  - ALGOLIA_API_KEY=$ALGOLIA_API_KEY bundle exec jekyll algolia
