<!-- Including InstantSearch.js, Showdown(javascript)-convert markdown to html and Moment.js  library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" href="assets/css/search.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js
" charset="utf-8"></script>
<script src="https://momentjs.com/downloads/moment.js" charset="utf-8"></script>
