<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3 col-sm-4 links-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="/work.html">Work</a></li>
              <li><a href="/team.html">Team</a></li>
              <li><a href="/contact.html">Contact</a></li>
              <li><a href="/estimate.html">Get an estimate</a></li>
              <li><a href="/partner.html">Partner with us</a></li>
              <li><a href="/talent.html">Join the team</a></li>
              <!-- <li><a href="#">Privacy policy</a></li> -->
              <!-- <li><a href="#">Terms &amp; Conditions</a></li> -->
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-6 col-sm-8 blog-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">In The News</h3>
            <div class="item">
              <figure class="figure">
                <img class="img-responsive" src="/assets/images/blog/kariuki-tiny-thumb.jpg" alt="Kariuki Gathitu" title="Kariuki Gathitu"/>
              </figure>
              <div class="content">
                <h4 class="post-title"><a href="https://founder360mag.com/this-entrepreneur-left-his-bank-job-and-built-one-of-the-most-successful-fintech-products-in-africa/" target="_blank">Kariuki on The Founder</a></h4>
                <p class="intro">Kariuki Gathitu is the founder and lead system architect and software developer at Zege Tech...</p>
                <ul class="meta list-inline">
                  <li>January 2018</li>
                  <li>Founder 360</li>
                </ul>
              </div><!--//content-->
            </div>
            <div class="item">
              <figure class="figure">
                <img class="img-responsive" src="/assets/images/blog/stack-off-thumb.jpg" alt="stack-off" title="stack-off" />
              </figure>
              <div class="content">
                <h4 class="post-title"><a href="https://founder360mag.com/stackoff2017-report-be-a-world-class-developer-by-mastering-these-programming-languages/" target="_blank">#StackOff2017 Report</a></h4>
                <p class="intro">Become a world class developer by mastering these programming languages...</p>
                <ul class="meta list-inline">
                  <li>April 2018</li>
                  <li>Founders 360</li>
                </ul>
              </div><!--//content-->
            </div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-12 contact-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">Get In Touch</h3>
            <p class="intro"></p>
            <div class="row">
              <p class="adr clearfix col-md-12 col-sm-4">
                <span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>
                <span class="adr-group">
                  <span class="street-address">Zege Technologies</span><br />
                  <span class="city">Riara Center, D2</span><br />
                  <span class="postal-code">Off Riara Road</span><br />
                  <span class="country-name">Nairobi, Kenya</span>
                </span>
              </p>
              <p class="tel col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+254705504211">+254-705-504211</a></p>
              <p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="mailto:hi@zegetech.com">hi@zegetech.com</a></p>
            </div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
      </div>
    </div>
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container center">
      <ul class="social-icons list-inline">
        <li><a href="https://twitter.com/zegetech" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Zege-Technologies-314908491854083/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <!-- <li><a href="https://www.facebook.com/zegetech"><i class="fa fa-instagram"></i></a></li> -->
        <li><a href="https://www.linkedin.com/company/zege-technologies" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <!-- <li class="last"><a href="#"><i class="fa fa-google-plus"></i></a></li>                      -->
      </ul>
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->

{% include scripts.html %}

</body>
</html>
