<!-- ******FOOTER****** --> 
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3 col-sm-4 links-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="work.html">Work</a></li>
              <li><a href="about.html">Team</a></li>
              <li><a href="contact.html">Contact</a></li>                                
              <li><a href="estimate.html">Get Estimate</a></li>
              <!-- <li><a href="#">Privacy policy</a></li> -->
              <!-- <li><a href="#">Terms &amp; Conditions</a></li> -->
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-6 col-sm-8 blog-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">In The News</h3>
            <div class="item">
              <figure class="figure">
                <img class="img-responsive" src="/assets/images/blog/kariuki-tiny-thumb.jpg" alt="" />
              </figure>
              <div class="content">
                <h4 class="post-title"><a href="blog-post.html">Kariuki on The Founder</a></h4>
                <p class="intro">Kariuki Gathitu is the founder and lead system architect and software developer at Zege Tech...</p>
                <ul class="meta list-inline">
                  <li>June 2016</li>
                  <li>The Founder</li>
                </ul>
              </div><!--//content-->
            </div>  
            <div class="item">
              <figure class="figure">
                <img class="img-responsive" src="/assets/images/blog/mikemacharia-tiny-thumb.jpg" alt="" />
              </figure>
              <div class="content">
                <h4 class="post-title"><a href="blog-post.html">10 techies behind Kenya’s digital explosion</a></h4>
                <p class="intro">Innovation and development in Kenya is bustling. But who is actually driving this innovation and what are their stories...</p>
                <ul class="meta list-inline">
                  <li>April 2016</li>
                  <li>Mediamax</li>
                </ul>
              </div><!--//content-->
            </div>                                                     
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col--> 
        <div class="footer-col col-md-3 col-sm-12 contact-col">
          <div class="footer-col-inner">
            <h3 class="sub-title">Get In Touch</h3>
            <p class="intro"></p>
            <div class="row">
              <p class="adr clearfix col-md-12 col-sm-4">
                <span class="fs1" aria-hidden="true" data-icon="&#xe01d;"></span>        
                <span class="adr-group">       
                  <span class="street-address">Nairobi Garage</span><br />
                  <span class="city">Piedmont Plaza</span><br />
                  <span class="postal-code">Off Ngong' Road</span><br />
                  <span class="country-name">Nairobi, Kenya</span>
                </span>
              </p>
              <p class="tel col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+254705504211">+254-705-504211</a></p>
              <p class="email col-md-12 col-sm-4"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="#">innovate@zegetech.com</a></p> 
            </div> 
          </div><!--//footer-col-inner-->            
        </div><!--//foooter-col-->   
      </div>   
    </div>        
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container center">                                   
      <ul class="social-icons list-inline">
        <li><a href="https://twitter.com/zegetech"><i class="fa fa-twitter"></i></a></li>                        
        <li><a href="https://www.facebook.com/Zege-Technologies-314908491854083/"><i class="fa fa-facebook"></i></a></li>
        <!-- <li><a href="https://www.facebook.com/zegetech"><i class="fa fa-instagram"></i></a></li> -->
        <li><a href="https://www.linkedin.com/company/zege-technologies"><i class="fa fa-linkedin"></i></a></li>
        <!-- <li class="last"><a href="#"><i class="fa fa-google-plus"></i></a></li>                      -->
      </ul> 
      <small class="copyright text-center">Zege Technologies Limited. Innovate4Life </small>                 
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->

{% include scripts.html %}

</body>
</html> 