<header id="header" class="header navbar-fixed-top">  
  <div class="container">       
    <h1 class="logo">
      <img src="/assets/images/logos/favicon.png" height="35px" alt="Zegetech Logo" title="Zegetech logo" />
      <a href="/"><span class="highlight">ZEGE</span>TECH</a>
    </h1><!--//logo-->
    <nav class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% if page.title == "Home" %} active {% endif %} nav-item"><a href="/">Home</a></li>
          <li class="{% if page.title == "Work" %} active {% endif %} nav-item"><a href="/work.html">Work</a></li>                       
          <li class="{% if page.title == "About" %} active {% endif %} nav-item"><a href="/team.html">Team</a></li>                                              
          <li class="{% if page.title == "News" %} active {% endif %} nav-item"><a href="/news.html">News</a></li>
          <li class="{% if page.title == "Contact" %} active {% endif %} nav-item"><a href="/contact.html">Contact</a></li>
          <!-- <li class="nav-item"><a href="/estimate.html">Blog</a></li> -->
          <li id="get-estimate" class="nav-item last btn-cta-primary"><a href="/estimate.html">Get an estimate</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div><!--//container-->
</header><!--//header-->  