<!-- ******Latest blog Section****** -->
<section id="latest-blog" class="latest-blog section">
  <div class="container">
    <h2 class="title text-center">In The News</h2>
    <div class="row">
      <div class="item col-md-6 col-sm-6 col-xs-12">
        <div class="item-inner">
          <figure class="figure">
            <a href="https://founder360mag.com/this-entrepreneur-left-his-bank-job-and-built-one-of-the-most-successful-fintech-products-in-africa/"><img class="img-responsive" src="/assets/images/blog/kariuki-thumb.jpg" alt="Kariuki Gathitu on Laptop" title="Kariuki Gathitu" /></a>
          </figure>
          <div class="content-wrapper text-center">
            <h3 class="sub-title"><a href="https://founder360mag.com/this-entrepreneur-left-his-bank-job-and-built-one-of-the-most-successful-fintech-products-in-africa/" target="_blank">Kariuki on The Founder</a></h3>
            <div class="desc">
              <p>Kariuki Gathitu is the founder and lead system architect and software developer at Zege Technologies, an IT company that primarily builds software for mobile payments. He developed M-PAYER, a mobile payment management system that has been widely recognised locally and globally, and was also largely involved in the development of M-KESHO in 2010.</p>
            </div><!--//desc-->
          </div><!--//content-wrapper text-center-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-md-6 col-sm-6 col-xs-12">
        <div class="item-inner">
          <figure class="figure">
            <a href="https://founder360mag.com/stackoff2017-report-be-a-world-class-developer-by-mastering-these-programming-languages/"><img class="img-responsive" src="/assets/images/blog/stack-off.-tiny-thumb.jpg" alt="stack-off-2017" title="Stack-off-2017" /></a>
          </figure>
          <div class="content-wrapper text-center">
            <h3 class="sub-title"><a href="https://founder360mag.com/stackoff2017-report-be-a-world-class-developer-by-mastering-these-programming-languages/" target="_blank">#StackOff2017 Report</a></h3>
            <div class="desc">
              <p>According to the Stack Off Kenya 2017 report on the latest trends in software development, 40% of developers in Kenya are self-taught while 43% have had  formal training. Find out what it takes to become a world class developer and which tools are trending and more relevant for todays developers needs.</p>
            </div><!--//desc-->
          </div><!--//content-wrapper text-center-->
        </div><!--//item-inner-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//latest-blog-->
