<!-- ******Latest blog Section****** -->
<section id="latest-blog" class="latest-blog section">
  <div class="container">
    <h2 class="title text-center">In The News</h2>
    <div class="row">
    <!-- counts the number of published posts to determine layout -->
      {% assign counter = 0 %}
      {% for post in site.posts %}
      {% unless item.published == false %}
      {% assign counter=counter | plus:1 %}
      {% endunless %}
      {% endfor %}
      <!-- If only one post exists display post and content side by side -->
      {% if counter == 1%}
      {% for post in site.posts%}
      <div class="item col-md-6 col-sm-6 col-xs-12">
        <div class="item-inner">
          <figure class="figure">
            <a href="{{post.url}}"><img class="img-responsive" src="{{post.path-to-image}}" alt="" /></a>
          </figure>
        </div><!--//item-inner-->
      </div>
      <div class="itm col-md-6 col-sm-6 col-xs-12">
        <div class="content-wrapper text-center">
            <h3 class="sub-title"><a href="{{post.url}}" target="_blank">{{post.title}}</a></h3>
            <div class="desc">
              <p>{{post.content}}</p>
            </div><!--//desc-->
        </div><!--//content-wrapper text-center-->
      </div>
      <!--//item-->
      {% endfor %}
      {% else %}
      <!-- end single post display -->

      <!-- display for multiple posts -->
      {% for post in site.posts limit:2%}
      <div class="item col-md-6 col-sm-6 col-xs-12">
        <div class="item-inner">
          <figure class="figure">
            <a href="{{post.url}}"><img class="img-responsive" src="{{post.path-to-image}}" alt="" /></a>
          </figure>
          <div class="content-wrapper text-center">
            <h3 class="sub-title"><a href="{{post.url}}" target="_blank">{{post.title}}</a></h3>
            <div class="desc">
              <p>{{post.content}}</p>
            </div><!--//desc-->
          </div>
          <!--//content-wrapper text-center-->
        </div><!--//item-inner-->
      </div><!--//item-->
      {% endfor %}
    {% endif %}
    </div><!--//row-->
  </div><!--//container-->
</section><!--//latest-blog-->