<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Zegetech is an Agile team with excellent track record &amp; great communication skills. We love Ruby on Rails and mobile development! Ping us!">
<meta name="author" content="">   
<meta name="keywords" content="ruby on rails, angularJs, zege technologies, agile, sprint, MPESA, safaricom, fintech, software developer nairobi, freelancer nairobi, mobile developer, android, ios">   
<meta name="theme-color" content="#242e3c">

<meta property="og:title" content="Ruby on Rails and mobile development team | Zegetech">
<meta property="og:image" content="/webicon.jpg" />
<meta property="og:url" content="https://www.zegetech.com">
<meta property="og:description" content="Zegetech is an Agile team with excellent track record &amp; great communication skills. We love Ruby on Rails and mobile development! Ping us!">
<meta name="twitter:description" content="Zegetech is an Agile team with excellent track record &amp; great communication skills. We love Ruby on Rails and mobile development! Ping us!">
<meta name="twitter:title" content="Ruby on Rails and mobile development team | Zegetech">
<meta name="robots" content="index, follow">
<meta name="format-detection" content="telephone=no">