<!-- ******CTA Section****** -->
<section id="cta-section" class="cta-section section text-center home-cta-section">
  <div class="container">
    <h2 class="title">Want to have a quick chat?</h2>
    <p class="phone contact-info">
      <span class="intro">We are only a phone call away</span>
      <span class="info list-inline text-center">
        <a href="tel:+254705504211"><i class="fs1 fa fa-comments-o" aria-hidden="true"></i></a>&nbsp;
        <a href="skype:zegetech"><i class="fs1 fa fa-skype" aria-hidden="true"></i></a>
        <a href="whatsapp://send?phone=+254705504211&text=i would like to know more about how you can help me build my product"><i class="fs1 fa fa-whatsapp" aria-hidden="true"></i></a>
      </span>
      <span class="info"><a href="tel:+254705504211">+254-705-504211</a></span>
    </p><!--//phone-->
    <p class="email contact-info">
      <span class="intro">You can also email us</span>
      <span class="info"><a href="mailto:hi@zegetech.com">hi@zegetech.com</a></span>
    </p><!--//phone-->              
  </div><!--//container-->
</section><!--//cta-section-->