<!--Main Javascript -->          
<script type="text/javascript" src="/assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<!-- <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>              -->
<script type="text/javascript" src="/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>                                                                  
<script type="text/javascript" src="/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>

<!-- Flexslider -->    
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script> 
<script type="text/javascript" src="/assets/js/flexslider-custom.js"></script>     

<!-- Form Validation -->
<!-- <script type="text/javascript" src="/assets/plugins/jquery.validate.min.js"></script>  -->
<!-- <script type="text/javascript" src="/assets/js/form-validation-custom.js"></script> -->

<!-- Form iOS fix -->
<script type="text/javascript" src="/assets/plugins/isMobile/isMobile.min.js"></script>
<script type="text/javascript" src="/assets/js/form-mobile-fix.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.js"></script> 
<script type="text/javascript" src="/assets/js/owl-custom.js"></script> 

{{ page.custom_scripts }}
{{ post.custom_scripts }}
{{ layout.custom_scripts }}