<link rel="shortcut icon" href="/favicon.ico?{{ "now" | date: "%Y%m%d%H%M%S" }}">  
<!-- <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:700,300italic,400italic,700italic,300,400' rel='stylesheet' type='text/css'> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
<link href="https://fonts.googleapis.com/css?family=Dosis:600|Maven+Pro" rel="stylesheet">
<!-- Global CSS -->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">   
<!-- Plugins CSS -->    
<link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/assets/plugins/elegant_font/css/style.css">
<link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css">
<link rel="stylesheet" href="/assets/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/plugins/owl-carousel/owl.theme.css">
{{ page.custom_styles }}
{{ post.custom_styles }}
{{ layout.custom_styles }}
<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="/assets/css/styles.css">
