/* Search hits stylling */
.ais-hits--item{
  padding: 2% 5% 0;

}

.stats{
  padding: 0 5% ;
}

#search-results-dropdown{
  right:auto;
  left:auto;
  min-width: 600px;
  background-color: #FFF ;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

#search-results-dropdown:before{
  position: fixed;
}

#search-results-dropdown a {
  color: inherit ;
  border-bottom: none ;
  padding: 0 ;
}

#search-dropdown{
  /* height: 50px; */
  width:200px;
}
.ais-pagination{
  margin-left:2px;
  margin-right: 2px;
  display: block;
}
.ais-search-box--input{
  padding: opx 10px 0px 10px !important;

}
.ais-search-box{
  height: unset !important;
  margin:5px 5px;
}

.thumb-image-xs{
  height:45px;
  width:45px;
}
.hits-xs{
  color: #65758e;
  border-bottom: 1px solid #eee;
  position: relative;
  margin-bottom: 15px;
  margin-left:2px;
  margin-right: 2px;
}
.hits-md{
  color: #65758e;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.sticky-close{
  float: right;
}
.close-dropdown-li{
  position: fixed;
  margin: 10px -0px -0px -50px;
  font-size: 20px;
  color: #1786c3;
  text-align: right;
  margin-left: 10px;
  justify-content: flex-end;
}
.btn-close-dropdown{
  /* border:unset; */
  position: fixed;
  right: 26%;
  z-index: inherit;
}

/* Style Searchbox */
#search-searchbar{
  font: inherit;
  background: #fff;
  display: inline-block;
  border: 1px solid #d4d8e3;
  border-radius: 4px;
  padding: 10px 10px 10px 35px;
  vertical-align: middle;
  height: 100%;
  width:100%;
  box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
  transition: box-shadow .4s ease,background .4s ease,-webkit-box-shadow .4s ease;

}
.search-box-div{
  margin: 5px 0;
}
.ais-search-box{
  margin: unset !important;
}
