---
layout: default
title: Blog
priority: 0.80
promo_title: Blog
promo_intro: Find out what we are up to, what's new and what trending as we share discoveries, insights and knowledge.

---
<!-- ******Blog list Section****** -->
<section id="blog-list" class="blog-list section">

    <div class="containe" style="padding:0% 5% 0% 10%">
      <!-- <div id="search-searchbar"></div> -->
        <div class="row">
          <div class="col-md-3" id="category-widget">
            <h6>CATEGORY</h6>
           <div class="filter-widgets" id="brand">

           </div>

          </div>
          <div class="col-md-9">
            <div class="post-list" id="search-hits">

            </div>
          </div>

        </div>



        <div class="pagination-container text-center" id="pagination-container">
                <!-- <ul class="pagination">
                {% if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path }}">«</a></li>
                {% else %}
                    <li class="disabled"><a href="#">«</a></li>
                {% endif %}
                {% for i in (1..paginator.total_pages) %}
                    {%if paginator.page == i %}
                        <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        {%if i==1 %}
                            <li><a href="/blog/">{{ i }}</a></li>
                        {% else %}
                            <li><a href="/blog/page{{i}}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path }}">»</a></li>
                {% else %}
                <li class="disabled"><a href="#">»</a></li>
                {% endif %}
            </ul><!--//pagination-->
        </div>
    </div><!--//container-->
</section><!--//blog-list-->
